.sidepanel{
    display: flex;
    flex-direction: column;
    height: 340px;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    z-index: 3;
    top: 230px;
    left: 30px;
    &__link{
        &:hover{
            svg path{
                fill: $main-color;
                transition: 0.5s all;
            }
        }
    }
    &__divider{
        width: 2px;
        height: 70px;
        background-color: rgba(0,0,0,1000)    }
    &__text{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        width: 15px;
        transform: rotate(-90deg);
        margin-top: 125px;
        &:hover{
            color: $main-color;
            transition: 0.5s all;
        }
    }

}