.sidepanel{
    display: flex;
    flex-direction: column;
    height: 340px;
    justify-content: space-between;
    align-items:center;
    position: absolute;
    z-index: 3;
    top: 230px;
    left: 30px;
    &__divider{
        width: 2px;
        height: 70px;
        background-color: rgba(0,0,0,1000)    }
    &__text{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        width: 15px;
        transform: rotate(-90deg);
        margin-top: 125px;
    }
}