.title{
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #000000;
    &_fz16{
        font-size: 16px;
        line-height: 24px;
    }
    &_fz36{
       font-size: 36px; 
    }
    &_fz48{
        font-size: 46px;
    }
}